body {
  background-color: rgb(232, 231, 243);
}

h1 {
  color: rgb(84, 80, 80);
}

.top-form,
.bottom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 50px calc(50% - 400px);
  border-radius: 8px;
  box-shadow: 0 4px 10px #0004;
  padding: 20px;
  background-color: #fff;
}

/*TOP SECTION*/

.top-form .dictionary-form {
  display: flex;
  /* flex-wrap: column; */
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.dictionary-form label {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  float: left;
}
.dictionary-form input {
  line-height: 30px;
  font-size: 18px;
  margin-left: 15px;
}

.dictionary-form > button {
  line-height: 15px;
  width: 60px;
  height: 40px;
  font-size: 18px;
  background-color: rgb(133, 133, 238);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.267);
}

@media (max-width: 880px) {
  .top-form {
    width: 90%;
    margin: 50px 5%;
  }

  .top-form .dictionary-form {
    flex-direction: column;
  }

  .dictionary-form > button {
    width: 100%;
    line-height: 25px;
  }
}

/*BOTTOM SECTION*/

.bottom-form .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.bottom-form input {
  line-height: 30px;
  font-size: 18px;
}

.bottom-form .list > button {
  line-height: 35px;
  width: 50px;
}

.bottom-form .list > .btn.fa-edit {
  background-color: rgb(96, 124, 238);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 10px #0004;
}
.bottom-form .list > .btn.fa-trash {
  background-color: rgb(230, 67, 67);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 10px #0004;
}

@media (max-width: 880px) {
  .bottom-form {
    width: 90%;
    margin: 50px 5%;
  }

  .bottom-form .list {
    flex-direction: column;
  }

  .bottom-form .list > button {
    width: 40%;
    line-height: 40px;
  }
}
